<div id="welcome" class="center hero-unit cf">
  <h1>About Ultrakast</h1>
  <div id="about-images">
    <%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %>
  </div>
		<div id="about-text">
      <p>Ultrakast is the best way to stay up to date within the worlds of your interests.</p>
      <p>All of us have our own passions. Some love sports while others love music. That's what Ultrakast is all about, everything that you love.</p>
      <p>Pick the categories that interest you so that Ultrakast is tailored to you and you only. Then, add your friends to see who has the same interests as you do. 
        If you and a friend share a common interest or interests, update each other about them.</p>
    </div>
</div>