<div id="welcome" class="center hero-unit cf">
  <h1>About Ultrakast</h1>
  <div id="about-images">
    <%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %>
  </div>
		<div id="about-text">
      <p>Ultrakast is the best way to stay up to date in the worlds of your interests.</p>
      <p>We all have our own passions. Some love sports, while others love music. That's what Ultrakast is all about -- Everything that you love!</p>
      <p>First, select your interests so that Ultrakast is tailored to you and only you. Then, use Ultrakast to update your friends by posting to your interests. So just add all of your friends, and let 
      the Ultrakasting begin!</p>
      <h2>Ultrakast Terms</h2>
      <p><%= image_tag 'satellite.png' %> - Click this when you want to "Like" a post</p>
      <p><%= image_tag 'favorite.png', :height => "2.5%", :width => "2.5%" %> - Click this when you want to favorite a post. Once you do so, this post will be saved to your favorites</p>
      <p><strong>Rekast</strong> - Click this when you want to broadkast someone else's post</p>
      <p><%= image_tag 'facebook.png', :height => "2.5%", :width => "2.5%" %> - Click this when you want to share an existing post to Facebook</p>
    </div>
</div>