<div id="welcome" class="center hero-unit cf">
  <h1>About Ultrakast</h1>
  <div id="about-images">
    <%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %><%= image_tag 'large-satellite.png', class: "large-satellite", size: '94x88' %>
  </div>
	<div id="about-text">
	   <p>Ultrakast is a new social networking website at Michigan connecting students through their classes and interests. It is the best way to make new friends who are in the same class as you and the best way to stay updated with what other people are doing in your classes.</p>
       <p>Have you ever wanted to know who that person sitting next to you in a class of two hundred people is? The genius? That cute girl? That hunk? Now you can find out! Sign up NOW to stay updated in your classes. Find out who still hasn't started Project 3 for EECS 280. Find out who is trying to form a study group for your class. But check them out also to see what they look like and if you guys have similar interests. Join the movement.</p>
       <p>Just sign up for your classes this semester and then start ultrakasting! Also, sign up for your interests to connect with your friends and other students at Michigan through shared interests!</p>
<!--
      <p>Ultrakast is the best way to stay up to date in the worlds of your interests.</p>
      <p>We all have our own passions. Some love sports, while others love music. That's what Ultrakast is all about -- Everything that you love!</p>
      <p>First, select your interests so that Ultrakast is tailored to you and only you. Then, use Ultrakast to update your friends by posting to your interests. So just add all of your friends, and let 
      the Ultrakasting begin!</p>
      -->
      <br />
      <h2>Ultrakast Terms</h2>
      <p><%= image_tag 'satellite.png' %> - Click this when you want to "Like" a post</p>
      <p><%= image_tag 'favorite.png', :height => "2.5%", :width => "2.5%" %> - Click this when you want to favorite a post. Once you do so, this post will be saved to your favorites</p>
      <p><strong>Rekast</strong> - Click this when you want to broadkast someone else's post</p>
      <p><%= image_tag 'facebook.png', :height => "2.5%", :width => "2.5%" %> - Click this when you want to share an existing post to Facebook or when you want to go to someone's Facebook profile page'</p>
    </div>
</div>