<% if user_signed_in? %>
	<div class="row">
		<aside id="left-sidebar" class="span2">
			<section id="user-info">
				<%= render 'shared/user_info' %>
			</section>
			<section id="category_links">
				<%= render 'shared/category_links' %>
			</section>
		</aside>

		<div id="feed" class="span7">
		    <div id="filter-title"></div>
			<section id="post-form">
				<%= render 'shared/post_form' %>
			</section>
			<div id="filter-wrap" class="cf">
				<div id="filter-settings" class="cf">
					<div id="filter-buttons-right" class="button-wrap pad-right">
						<a href="/static_pages/switchfeed?feed_status=private" class="filter-button" data-remote="true" id="private-button"><%= image_tag 'friends-off.png' %></a>
						
						<a href="/static_pages/switchfeed?feed_status=public" class="filter-button" data-remote="true" id="public-button"><%= image_tag 'everyone-on.png' %></a>
						
						<a href="/static_pages/switchfeed?feed_status=favorites" class="filter-button" data-remote="true" id="favorites-button"><%= image_tag 'favorites-off.png' %></a>
					</div>
					<div id="filter-buttons-left" class="button-wrap">
						<a id="recent-button" data-remote="true" class="filter-button" href="/static_pages/switchfeed?sort_order=recent"><%= image_tag 'recent-on.png' %></a>
						<a id="popular-button" data-remote="true" class="filter-button" href="/static_pages/switchfeed?sort_order=popular"><%= image_tag 'popular-off.png' %></a>
					</div>
				</div>
			</div>
          <h1>Ken</h1>
	        <%= render 'shared/feed' %>
		</div>
		
		<aside id="right-sidebar" class="span2">
			<section id="friend-block">
				<%= render 'shared/friend_block' %>
			</section>
      	<!--	<section id="ads">
        		<div class="first-advertisement advertisement">advertisement</div>
        		<div class="advertisement">advertisement</div>
        		<div class="advertisement">advertisement</div>
      		</section> -->
		</aside>
	</div><!-- .row -->
	
<% else %>	
	<div id="welcome" class="center hero-unit cf">
		<div id="home-button-wrapper">
			<h1>Welcome to Ultrakast!</h1>
			<!-- <%= link_to "Sign in now!", new_user_session_path, class: "home-btn btn btn-large btn-primary" %>-->
			<a href="<%= user_omniauth_authorize_path(:facebook) %>"><%= image_tag 'facebook-login-button.png', :size => '200x60' %></a>
			<!-- <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),class: "home-btn btn btn-large btn-primary" %>
			<%= link_to "New user? Sign up!", new_user_registration_path, class: "home-btn btn btn-large btn-primary" %> -->
	        <br />
	        <br />
	        <br />
		  	<%= image_tag 'large-satellite.png', class: "large-satellite" %>


			<!-- <%= link_to "New user? Sign up!", new_user_registration_path, class: "home-btn btn btn-large btn-primary" %><br /> 
			<br /><br /><em>version 2.0a - 13 January 2014 </em> -->
		</div> 
		<div id="satellite-wrapper">
			<!--<p>Ultrakast is the best way to stay up to date with all of your interests. We all have our own passions. Some love sports, while others love music. That's what Ultrakast is all about  Everything that you love!</p> -->
			<!-- <p>What is Ultrakast? Ultrakast is a new social networking website at Michigan connecting students through their classes and interests. It is the best way to make new friends who are in the same class as you and the best way to stay updated with what other people are doing in your classes. </p> -->
  			<!-- <p>Have you ever wanted to know who that person sitting next to you in a class of two hundred people is? The genius? That cute girl? That hunk? Now you can find out! Sign up NOW to stay updated in your classes. Find out who still hasn't started Project 3 for EECS 280. Find out who is trying to form a study group for your class. But check them out also to see what they look like and if you guys have similar interests. Join the movement.</p> -->
            <!-- <p>Just sign up for your classes this semester and then start ultrakasting! Also, sign up for your interests to connect with your friends and other students at Michigan through shared interests!</p> -->
			<!--<p>First, select your interests so that Ultrakast is tailored to you and only you. Then, use Ultrakast to update your friends by posting to your interests. Instead of switching between ESPN, YouTube, Forever21, and the other sites you enjoy, visit Ultrakast and explore all of your interests at once.</p>-->
		</div>
	</div>	

<% end %>

