<% if user_signed_in? %>
	<div class="row">
		<aside id="left-sidebar" class="span2">
			<section id="user-info">
				<%= render 'shared/user_info' %>
			</section>
			<section id="category_links">
				<%= render 'shared/category_links' %>
			</section>
		</aside>

		<div id="feed" class="span7">
      <div id="filter-title">Home</div>
			<section id="post-form">
				<%= render 'shared/post_form' %>
			</section>
			<div id="filter-wrap" class="cf">
				<div id="filter-settings" class="cf">
					<div class="button-wrap pad-right">
						<a href="/static_pages/switchfeed?feed_status=private" class="filter-button" data-remote="true" id="private-button"><%= image_tag 'friends-on.png' %></a>
						
						<a href="/static_pages/switchfeed?feed_status=public" class="filter-button" data-remote="true" id="public-button"><%= image_tag 'everyone-off.png' %></a>
						
						<a href="/static_pages/switchfeed?feed_status=favorites" class="filter-button" data-remote="true" id="favorites-button"><%= image_tag 'favorites-off.png' %></a>
					</div>
					<div class="button-wrap">
						<a id="recent-button" data-remote="true" class="filter-button" href="/static_pages/switchfeed?sort_order=recent"><%= image_tag 'recent-on.png' %></a>
						<a id="popular-button" data-remote="true" class="filter-button" href="/static_pages/switchfeed?sort_order=popular"><%= image_tag 'popular-off.png' %></a>
					</div>
				</div>
			</div>
			<%= render 'shared/feed' %>
		</div>
		
		<aside id="right-sidebar" class="span2">
			<section id="friend-block">
				<%= render 'shared/friend_block' %>
			</section>
      		<section id="ads">
        		<div class="first-advertisement advertisement">advertisement</div>
        		<div class="advertisement">advertisement</div>
        		<div class="advertisement">advertisement</div>
      		</section>
		</aside>
	</div><!-- .row -->
	
<% else %>	
<<<<<<< Updated upstream
	<div id="welcome" class="center hero-unit">
  		<h1>Welcome to Ultrakast!</h1>
  		<h2>We are currently in beta testing. If you find any issues or problems, please report them to <a href="mailto:support@ultrakast.com">support@ultrakast.com</a>. Thank you!</h2>
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),class: "btn btn-large btn-primary" %>
  		<%= link_to "Sign in now!", new_user_session_path, class: "btn btn-large btn-primary" %>
		<%= link_to "New user? Sign up!", new_user_registration_path, class: "btn btn-large btn-primary" %>
		<br /><br /><em>version 1.2b - 14 November 2012 </em>
=======
	<div id="welcome" class="center hero-unit cf">
		<div id="home-button-wrapper">
			
			<%= link_to "Sign in now!", new_user_session_path, class: "home-btn btn btn-large btn-primary" %><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),class: "home-btn btn btn-large btn-primary" %><br />
	  		
			<%= link_to "New user? Sign up!", new_user_registration_path, class: "home-btn btn btn-large btn-primary" %><br />
			<br /><br /><em>version 1.3b - 12 December 2012 </em>
		</div>

		<div id="satellite-wrapper">
			<p>Ultrakast is the best way to stay up to date within the worlds of your interests.</p>
  			<%= image_tag 'large-satellite.png', class: "large-satellite" %>
			<p>All of us have our own passions. Some love sports while others love music. That's what Ultrakast is all about, everything that you love. </p>
		</div>
>>>>>>> Stashed changes
	</div>
<% end %>

