<% if user_signed_in? %>
	<div class="row">
		<aside id="left-sidebar" class="span2">
			<section id="user-info">
				<%= render 'shared/user_info' %>
			</section>
			<section id="category_links">
				<%= render 'shared/category_links' %>
			</section>
		</aside>

		<div id="feed" class="span7">
      <div id="filter-title">Home</div>
			<section id="post-form">
				<%= render 'shared/post_form' %>
			</section>
			<div id="filter-wrap" class="cf">
				<div id="filter-settings" class="cf">
					<div class="button-wrap pad-right">
						<%= link_to 'friends',   switchfeed_path(:feed_status => "private"),   :remote => true, :class => "filter-button selected", :id => "private-button" %>
						<%= link_to 'everyone',  switchfeed_path(:feed_status => "public"),    :remote => true, :class => "filter-button", :id => "public-button" %>
						<%= link_to 'favorites', switchfeed_path(:feed_status => "favorites"), :remote => true, :class => "filter-button", :id => "favorites-button" %>
					</div>
					<div class="button-wrap">
						<%= link_to 'recent',  switchfeed_path(:sort_order => "recent"), :remote => true, :class => "filter-button selected", :id => "recent-button" %>
						<%= link_to 'popular', switchfeed_path(:sort_order => "popular"), :remote => true, :class => "filter-button", :id => "popular-button" %>
					</div>
				</div>
			</div>
			<%= render 'shared/feed' %>
		</div>
		
		<aside id="right-sidebar" class="span2">
			<section id="friend-block">
				<%= render 'shared/friend_block' %>
			</section>
      		<section id="ads">
        		<div class="first-advertisement advertisement">advertisement</div>
        		<div class="advertisement">advertisement</div>
        		<div class="advertisement">advertisement</div>
      		</section>
		</aside>
	</div><!-- .row -->
	
<% else %>	
	<div id="welcome" class="center hero-unit">
  		<h1>Welcome to Ultrakast!</h1>
  		<h2>We are currently in beta testing. If you find any issues or problems, please report them to <a href="mailto:support@ultrakast.com">support@ultrakast.com</a>. Thank you!</h2>
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook),class: "btn btn-large btn-primary" %>
  		<%= link_to "Sign in now!", new_user_session_path, class: "btn btn-large btn-primary" %>
		<%= link_to "New user? Sign up!", new_user_registration_path, class: "btn btn-large btn-primary" %>
		<br /><br /><em>version 1.1b - 8 November 2012 </em>
	</div>
<% end %>

