<% provide(:title, 'Sign up') %>
<% provide(:submit_title, "Create my account") %>

<h1>Sign up for Ultrakast</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  		<%= devise_error_messages! %>
	
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
	  
	  		<%= f.label :email %>
	  		<%= f.text_field :email %>
	  
	  		<%= f.label :password %>
	  		<%= f.password_field :password %>
	  
	  		<%= f.label :password_confirmation, "Confirm password" %>
	  		<%= f.password_field :password_confirmation %>
	  
	  		<%= f.label :avatar, "Add a profile picture" %>
	  		<%= f.file_field :avatar %>
        
            <div class="row">
              <div class="span3">	
			       <label>Please select all of your classes for this semester</label>
                   <%= render 'shared/category_courses_checkboxes' %>
			  </div>
			  <div class="span3">	
			       <label>Please select all of your interests</label>
                   <%= render 'shared/category_checkboxes' %>
			  </div>
			</div>
			<!-- 
        <label>Please select all of your interests</label>
	  		<%= render 'shared/category_checkboxes' %>  -->
	  		<%= f.submit yield(:submit_title), class: "btn btn-large btn-primary" %>
		<% end %>
		<%= render "devise/shared/links" %>
	</div>
</div>





