<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
	  <h1>
	    <%= gravatar_for @user %>
		<%= @user.name %>
	  </h1>
	</section>
  </aside>
</div>

<h1>Your categories:</h1>
<%= list_categories @categories.arrange(:order => :name) %>

<%= link_to "Edit profile", edit_user_path(@user) %>
