<% blacklist = ['art', 'fashion', 'music', 'news', 'sports', 'miscellaneous' ] %>

<div id="category-checklist">
	<% Category.roots.order('id ASC').each do |category| 
	    next if blacklist.include? category.name.downcase %>
		<ul>
			<li class="parent <%= category.name %>">
				<a href="#" id="expand-<%= category.id %>" class="expand-link" data-category-id="<%= category.id %>">+</a>
				<%= check_box_tag "user[category_ids][]", category.id, @user.categories.include?(category) %>
				<a href="#" class="category-select-link" data-category-id="<%= category.id %>"><%= category.name %></a>
			</li>
			<ul id="children-<%= category.id %>" class="children-list">
				<% category.children.order('id ASC').each do |child| %>
					<li class="child <%= child.name %>">
						<%= check_box_tag "user[category_ids][]", child.id, @categories.include?(child) %>
						<span><%= child.name %></span>
					</li>
				<% end %>
			</ul>
		</ul>
	<% end %>	
</div>
