<li id="<%= feed_item.id %>">
<div class="post-header">
	<%= link_to avatar_for(feed_item.user, size: "small"), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago in <span class="category"><%= display_category(feed_item.category) %>
		<% if current_user?(feed_item.user) %>
		 - <span class="delete"><%= link_to "delete", feed_item, method: :delete, data: { confirm: "You sure?" }, title: feed_item.content %></span></span>
	<% end %>
	</span>
</div>
	<span class="content"><%= auto_link(feed_item.content) %></span>
	<span class="like-<%= feed_item.id %>">
			<%= like_link(feed_item) %>
			<% if feed_item.likes_count? %>
				-- liked by <%= pluralize(feed_item.likes_count, "user") %>
			<% end %>
		</span>
		<span class="favorite-<%= feed_item.id %>">
		  <%= favorite_link(current_user, feed_item) %>
		</span>
		<span class="comments">
		  <% if feed_item.comments_count? %>
		    <%= render :partial => 'shared/comment', collection: feed_item.comments %>
		  <% end %>
		<%= form_for [feed_item, feed_item.comments.build] do |f| %>
		  <%= f.text_field :content %>
		  <%= f.submit %>
		<% end %>
		</span>
	</li>