<% whitelist = ['art', 'fashion', 'music', 'news', 'sports', 'miscellaneous' ] %>

<% if session[:feed_status] == 'public' %>
  <% get_everyone %>
<% elsif session[:feed_status] == 'private' %>
  <% get_friends %>
<% else %>
  <% get_friends %>  
<% end %>

<% interest = false 
   if session[:parent_category] and whitelist.include? session[:parent_category].downcase
   	  interest = true 
   end   
%>

<div id="friend-avatars" class="cf">
	<% unless @friends.nil? %>
	<!--	<% unless session[:category_filter] == "all" %>
			<strong>Your friends interested in <%= session[:filter_title] %>:</strong><br /><br />
		<% else %>
			<strong>Your friends:</strong><br /><br />
		<% end %>
    -->		
     <% unless session[:category_filter] == "all" %>
		<% if session[:feed_status] == 'public' %>
           <% if interest %>
             <strong>Everyone at Michigan interested in <%= session[:filter_title] %>:</strong><br /><br />
           <% else %>
             <% if session[:selected_category_name] == session[:parent_category] %>
                <strong>All students at Michigan who are also taking <%= session[:filter_title] %> classes this semester</strong><br /><br />
             <% else %>
                <strong>All students at Michigan who are also taking <%= session[:filter_title] %> this semester</strong><br /><br />
             <% end %>   
           <% end %>
        <% else %>
           <% if interest %>
             <strong>Your friends at Michigan interested in <%= session[:filter_title] %>:</strong><br /><br />
           <% else %>
             <% if session[:selected_category_name] == session[:parent_category] %>
                <strong>All of your friends at Michigan who are also taking <%= session[:filter_title] %> classes this semester</strong><br /><br />
             <% else %>
                <strong>All of your friends at Michigan who are also taking <%= session[:filter_title] %> this semester</strong><br /><br />
             <% end %>   
           <% end %>                       
        <% end %>
      <% else %>
	    <strong>Your friends:</strong><br /><br />  
      <% end %> 
	  <% @friends.each do |f| %>
		<%= link_to avatar_for(f, size: "medium"), f, title: f.name %>
	  <% end %>

	<% end %>
</div>