<a href="<%= user_path(current_user) %>">
	<%= avatar_for(current_user, :size => "normal") %>
</a>
<h1>
	<%= current_user.name %>
</h1>
<span>
	<%= link_to "View my profile", current_user %>
</span>
<span>
	<%= pluralize(current_user.posts.size, "post") %>
</span>