<ol class="posts">
<% @feed_items.each do |feed_item| %>
	<li id="<%= feed_item.id %>">
		<div class="post-container">
			<div class="post-header">
				<%= link_to avatar_for(feed_item.user, size: "small"), feed_item.user %>
				<span class="user">
					<%= link_to feed_item.user.name, feed_item.user %>
				</span>
				<span class="timestamp">
					<% if feed_item.rekast %>
						rekasted 
					<% else %>
						broadkasted 
					<% end %>
					<%= time_ago_in_words(feed_item.created_at) %> ago in <span class="category"><%= link_to display_category(feed_item.category), switchfeed_path(:category_filter => feed_item.category.id, :filter_title => feed_item.category.name), :remote => true %>
					<% if current_user?(feed_item.user) %>
						- <span class="delete">
							<%= link_to "delete", feed_item, method: :delete, data: { confirm: "You sure?" }, title: feed_item.content %></span>
						</span>
					<% end %>
				</span>
			</div><!-- END .post-header -->

			<span class="content cf">
        <%= auto_link(feed_item.content) %><br /><br /><br />
      		<% unless feed_item.image_file_name.nil? %>
        		<%= image_tag feed_item.image.url %>
      		<% end %>
      </span><!-- .content -->

			<div class="status-bar">
      		<span id="likes-header-<%= feed_item.id %>" class="likes-header">
				<%= like_link(feed_item) %>
        		<% if feed_item.likes_count? %>
          			- <a href="#" class="likes-link" data-post-id="<%= feed_item.id %>"><%= feed_item.likes_count %></a>
        		<% end %>
      </span><!-- #likes-header-ID -->
			
			
			<span id="favorite-header-<%= feed_item.id %>" class="favorite-header">
				<%= favorite_link(current_user, feed_item) %>
      </span><!-- #favorite-ID -->
			
			
			<span class="comments-header">
				<a href="#" id="comments-link-<%= feed_item.id %>" class="comments-link" data-post-id="<%= feed_item.id %>">
					<% if feed_item.comments_count? %>
						<%= pluralize(feed_item.comments_count, "comment") %>
					<% else %>
						Comment
					<% end %>
				</a>
			</span><!-- .comments-header -->
      
			<% if (feed_item.user_id != current_user.id) && (current_user.categories.ids.include?(feed_item.category_id)) %>
        		
        		<span class="rekast-header">
              <a href="#" class="rekast-link" data-post-id="<%= feed_item.id %>">Rekast</a>
        		</span><!-- .rekast-header -->
			<% end %>
		</div><!-- .status-bar -->
		</li>
	<% end %>
</ol>
